@font-face {
    font-family: 'Roboto-Regular';
    src: 
        url(font/Roboto-Regular-webfont.eot),
        url(font/Roboto-Regular-webfont.svg) format('svg'),
        url(font/Roboto-Regular-webfont.ttf) format('truetype'),
        url(font/Roboto-Regular-webfont.woff) format('woff');
}
@font-face{
    font-family: 'shrikhand';
    src: url(font/Shrikhand-Regular.otf);
}
/* header */ 

header{
    display:flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'shrikhand';
    text-align: center;
    margin: 0;
}

.fa-arrow-left{
    color: black;
    font-size: 1.2em;
}

/* Menu */

.title-menu{
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
}

/* footer */

.title-footer{
    font-family: 'shrikhand';
    font-size: 1.2em;
    padding: 1em;
}

/* Général */

p, h2, h3{
    font-family: 'Roboto-Regular';
}


