@charset "UTF-8";
@font-face {
  font-family: 'Roboto-Regular';
  src: url(font/Roboto-Regular-webfont.eot), url(font/Roboto-Regular-webfont.svg) format("svg"), url(font/Roboto-Regular-webfont.ttf) format("truetype"), url(font/Roboto-Regular-webfont.woff) format("woff");
}

@font-face {
  font-family: 'Roboto-thin';
  src: url(font/Roboto-Thin-webfont.eot), url(font/Roboto-Thin-webfont.svg) format("svg"), url(font/Roboto-Thin-webfont.ttf) format("truetype"), url(font/Roboto-Thin-webfont.woff) format("woff");
}

@font-face {
  font-family: 'shrikhand';
  src: url(font/Shrikhand-Regular.otf);
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo {
  font-family: 'shrikhand';
  text-align: center;
  margin: 0;
  padding-bottom: 0.4em;
  font-size: 1.8em;
  padding-left: 2.5em;
  font-weight: lighter;
}

.fa-arrow-left {
  color: black;
  font-size: 1.2em;
  padding-left: 1em;
}

/* Menu */
.menu {
  background-color: whitesmoke;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  padding: 0 1em;
}

.title-restaurant {
  font-family: 'shrikhand';
  font-size: 1.7em;
  font-weight: lighter;
}

.title-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
  padding-top: 1.5em;
}

.empty-heart {
  font-size: 1.5em;
  padding-right: 1em;
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-restaurant {
  width: 100%;
  height: 20em;
  margin-bottom: -4em;
}

.contenu {
  text-overflow: ellipsis;
}

.contenu h3 {
  height: 40px;
}

.box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  padding-left: 1em;
}

.box:hover .fa-check-circle {
  -webkit-animation: animhover 0.5s linear 1 forwards;
          animation: animhover 0.5s linear 1 forwards;
}

.box:hover .price {
  -webkit-animation: slide 0.5s linear 1 forwards;
          animation: slide 0.5s linear 1 forwards;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 8px 12px -2px #d1d1d1;
          box-shadow: 5px 8px 12px -2px #d1d1d1;
  border-radius: 1em;
  margin: 1em 0;
  overflow: hidden;
  opacity: 0;
  animation: slide-fade 1s linear 1 forwards reverse;
}

.back {
  -webkit-animation: animhoverback 0.5 linear 1 forwards;
          animation: animhoverback 0.5 linear 1 forwards;
  -webkit-animation: slideback 0.5 linear 1 forwards;
          animation: slideback 0.5 linear 1 forwards;
}

.box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 7.5em;
}

.price {
  margin-left: 5em;
  margin-right: 1em;
  padding-bottom: 0.5em;
}

@-webkit-keyframes slide-fade {
  0% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
    margin-top: 1em;
  }
}

@keyframes slide-fade {
  0% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
    margin-top: 1em;
  }
}

@-webkit-keyframes slideback {
  0% {
    margin-left: 0em;
  }
  100% {
    margin-left: 5em;
  }
}

@keyframes slideback {
  0% {
    margin-left: 0em;
  }
  100% {
    margin-left: 5em;
  }
}

@-webkit-keyframes animhover {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes animhover {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes animhoverback {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes animhoverback {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes slide {
  0% {
    margin-left: 5em;
  }
  100% {
    margin-left: 0em;
  }
}

@keyframes slide {
  0% {
    margin-left: 5em;
  }
  100% {
    margin-left: 0em;
  }
}

.anim-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 5em;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.fa-check-circle {
  font-size: 1.6em;
}

.trait {
  width: 2.5em;
  height: 0.5em;
  border-top: solid 3px #99E2D0;
  margin-left: 1em;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-overflow: ellipsis;
}

.entree1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.entree2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.entree3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.plat1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.plat2 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.plat3 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.dessert1 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.dessert2 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.dessert3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  border-radius: 2em;
  border: none;
  color: #f7f7f7;
  padding: 0.8em 2.5em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 9px 19px -1px #979696;
          box-shadow: 0px 9px 19px -1px #979696;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 3em;
  -webkit-transition: opacity 1s, -webkit-box-shadow 1s;
  transition: opacity 1s, -webkit-box-shadow 1s;
  transition: box-shadow 1s, opacity 1s;
  transition: box-shadow 1s, opacity 1s, -webkit-box-shadow 1s;
}

.button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0px 9px 19px -1px #4e4e4e;
          box-shadow: 0px 9px 19px -1px #4e4e4e;
}

/* Footer */
.title-footer {
  font-family: 'shrikhand';
  font-size: 1.2em;
  font-weight: lighter;
}

footer {
  background-color: #3b3b3b;
  color: white;
  padding-bottom: 3em;
  padding-top: 0.5em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 1em;
}

li {
  font-family: "Roboto-Regular";
}

.fa-utensils {
  padding-right: 1em;
}

.fa-hands-helping {
  padding-right: 1em;
  font-size: 0.8em;
}

.mail {
  color: white;
}

/* Général */
p, h3, .price {
  font-family: 'Roboto-Regular';
}

h2 {
  font-family: 'Roboto-thin';
  font-size: 1em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

h3 {
  margin: 0;
  padding-bottom: 0.2em;
}

p {
  margin: 0;
  font-family: 'Roboto-thin';
}
/*# sourceMappingURL=allmenu.css.map */