@charset "UTF-8";
@font-face {
  font-family: 'Roboto-Regular';
  src: url(font/Roboto-Regular-webfont.eot), url(font/Roboto-Regular-webfont.svg) format("svg"), url(font/Roboto-Regular-webfont.ttf) format("truetype"), url(font/Roboto-Regular-webfont.woff) format("woff");
}

@font-face {
  font-family: 'shrikhand';
  src: url(font/Shrikhand-Regular.otf);
}

/* Variables */
/* INDEX */
/* Spin loader */
@-webkit-keyframes disapear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes disapear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.container-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  -webkit-animation: disapear 3s linear 1 forwards;
          animation: disapear 3s linear 1 forwards;
}

.filter {
  background-color: #dbd9d9;
  opacity: 0.6;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: visibility-filter 3s linear 1 forwards;
          animation: visibility-filter 3s linear 1 forwards;
}

.spinner {
  -webkit-animation: loader 1s linear 3 forwards;
          animation: loader 1s linear 3 forwards;
}

.fa-spinner {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
  font-size: 3em;
  -webkit-animation: visibility-spinner 3s linear 1 forwards;
          animation: visibility-spinner 3s linear 1 forwards;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes visibility-filter {
  0% {
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0.6;
  }
  99% {
    visibility: visible;
    opacity: 0.6;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes visibility-filter {
  0% {
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0.6;
  }
  99% {
    visibility: visible;
    opacity: 0.6;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes visibility-spinner {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes visibility-spinner {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/* HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 11em;
  height: 2em;
  margin-bottom: 0.6em;
  margin-top: 1em;
}

/* Div searchbox */
.searchbox {
  font-family: "Roboto-Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  width: 100%;
  height: 3em;
  -webkit-box-shadow: inset 0px 3px 5px -2px rgba(81, 81, 81, 0.4);
          box-shadow: inset 0px 3px 5px -2px rgba(81, 81, 81, 0.4);
}

input {
  border-style: none;
  background-color: #e6e6e6;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

/* Div explore */
h1 {
  font-size: 1.6em;
  padding: 0 2em;
  margin: 0;
}

input {
  border-style: none;
  background-color: #e6e6e6;
}

.explore {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 4em;
}

.reservez {
  padding-top: 1.5em;
}

.decouvrez {
  color: #7a7979;
  font-weight: 100;
}

.button {
  border-radius: 2em;
  border: none;
  color: #f7f7f7;
  padding: 0.8em 1em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 9px 19px -1px #979696;
          box-shadow: 0px 9px 19px -1px #979696;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 3em;
  -webkit-transition: opacity 1s, -webkit-box-shadow 1s;
  transition: opacity 1s, -webkit-box-shadow 1s;
  transition: box-shadow 1s, opacity 1s;
  transition: box-shadow 1s, opacity 1s, -webkit-box-shadow 1s;
}

.button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0px 9px 19px -1px #4e4e4e;
          box-shadow: 0px 9px 19px -1px #4e4e4e;
}

/* Fonctionnement */
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1em;
}

.all-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 10px 22px -6px #adadad;
          box-shadow: 0px 10px 22px -6px #adadad;
  border-radius: 1em;
  margin-bottom: 2em;
  width: 85%;
  background-color: #f0efef;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.card-color {
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 10px 22px -6px #adadad;
          box-shadow: 0px 10px 22px -6px #adadad;
  border-radius: 1em;
  margin-bottom: 2em;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9def7;
}

.card-color .icone {
  color: #9356DC;
}

.pastille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  color: white;
  margin-left: -1em;
}

.icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  color: #838383;
  font-size: 1.3em;
}

/* Restaurants */
.restaurant {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  padding-top: 2em;
  padding-bottom: 3em;
}

.card-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
  margin: 1em 1em;
  height: 15em;
  background-color: white;
  -webkit-box-shadow: 0px 10px 22px -6px #adadad;
          box-shadow: 0px 10px 22px -6px #adadad;
}

.new {
  background-color: #99E2D0;
  color: #269c7f;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  width: 5em;
  text-align: center;
  margin-left: 65%;
}

.restaurant-img-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.restaurant-img-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.restaurant-img-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.restaurant-img-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.img-restaurant {
  width: 100%;
  height: 30em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

h3 {
  margin: 0;
  color: black;
  font-weight: bold;
}

.place {
  margin: 0;
  color: black;
  padding-top: 0.5em;
}

a {
  text-decoration: none;
}

.bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.like {
  position: absolute;
  right: 3em;
}

.empty-heart {
  position: relative;
  z-index: 2;
  -webkit-text-stroke: 2px white;
  font-size: 2em;
  color: black;
}

.full-heart {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-size: 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.empty-heart:hover .full-heart {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.empty-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

/* Footer */
.title-footer {
  font-family: 'shrikhand';
  font-size: 1.2em;
  font-weight: lighter;
  padding-left: 1em;
}

footer {
  background-color: #3b3b3b;
  color: white;
  padding-bottom: 3em;
  padding-top: 0.5em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 1em;
}

li {
  font-family: "Roboto-Regular";
}

.fa-utensils {
  padding-right: 1em;
}

.fa-hands-helping {
  padding-right: 1em;
  font-size: 0.8em;
}

.mail {
  color: white;
}

/* Général */
p, h1, h2, h3 {
  font-family: "Roboto-Regular";
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* MENU */
.img-menu {
  width: 20em;
  height: 15em;
}

/* MEDIA QUERIES*/
@media all and (min-width: 1000px) {
  .fonctionnement {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .all-card {
    width: 40em;
  }
  .restaurant {
    margin: 0 5em;
  }
  .like {
    margin-right: 5em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 500px) {
  .new {
    margin-left: 75%;
  }
}

@media all and (min-width: 700px) {
  .fonctionnement, .restaurant, .like {
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media all and (min-width: 1100px) {
  .new {
    margin-left: 82%;
  }
}

@media all and (min-width: 1700px) {
  .restaurant {
    margin: 0 17em;
  }
  .like {
    margin-right: 17em;
  }
  .fonctionnement, .restaurant, .like {
    margin-right: 30%;
    margin-left: 30%;
  }
}
/*# sourceMappingURL=style.css.map */